<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>filePath</param-name>
        <param-value>H:/Img/</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userPanelServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.UserPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userAddServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserInitServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.AddUserInitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUserInitServlet</servlet-name>
        <url-pattern>/addUserInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userAddServlet</servlet-name>
        <url-pattern>/userAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userPanelServlet</servlet-name>
        <url-pattern>/userPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.AAAAAA.pestcontrolproject.listenner.ContextListenner</listener-class>
    </listener>


    <!-- 专家主界面servlet开始 -->
    <servlet>
        <servlet-name>specialistMainServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.specialistModule.SpecialistMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>specialistMainServlet</servlet-name>
        <url-pattern>/specialistMain</url-pattern>
    </servlet-mapping>
    <!-- 专家主界面servlet结束 -->

    <!-- 专家添加servlet开始 -->
    <servlet>
        <servlet-name>specialistAddServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.specialistModule.SpecialistAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>specialistAddServlet</servlet-name>
        <url-pattern>/specialistAdd</url-pattern>
    </servlet-mapping>
    <!-- 专家添加servlet结束 -->

    <!-- 专家查看servlet开始 -->
    <servlet>
        <servlet-name>specialistFindServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.specialistModule.SpecialistFindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>specialistFindServlet</servlet-name>
        <url-pattern>/specialistFind</url-pattern>
    </servlet-mapping>
    <!-- 专家查看servlet结束 -->

    <!-- 专家修改servlet开始 -->
    <servlet>
        <servlet-name>specialistUpdateServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.specialistModule.SpecialistUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>specialistUpdateServlet</servlet-name>
        <url-pattern>/specialistUpdate</url-pattern>
    </servlet-mapping>
    <!-- 专家修改servlet结束 -->

    <!-- 需要专家会审的事件记录servlet开始 -->
    <servlet>
        <servlet-name>conferenceEventServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.specialistModule.ConferenceEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>conferenceEventServlet</servlet-name>
        <url-pattern>/conferenceEvent</url-pattern>
    </servlet-mapping>
    <!-- 需要专家会审的事件记录servlet结束 -->
</web-app>
