<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userPanelServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.UserPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userAddServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserInitServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.AddUserInitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUserInitServlet</servlet-name>
        <url-pattern>/addUserInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userAddServlet</servlet-name>
        <url-pattern>/userAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userPanelServlet</servlet-name>
        <url-pattern>/userPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.AAAAAA.pestcontrolproject.listenner.ContextListenner</listener-class>
    </listener>
</web-app>
