<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userPanelServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.UserPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userAddServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserInitServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.AddUserInitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isExistUserServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.IsExistUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findUserServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.FindUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delUserServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.DelUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserInfoServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.UpdateUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserInfoSureServlet</servlet-name>
        <servlet-class>com.AAAAAA.pestcontrolproject.servlet.userModule.UpdateUserInfoSureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateUserInfoSureServlet</servlet-name>
        <url-pattern>/updateUserInfoSureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserInfoServlet</servlet-name>
        <url-pattern>/updateUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delUserServlet</servlet-name>
        <url-pattern>/delUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findUserServlet</servlet-name>
        <url-pattern>/findUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isExistUserServlet</servlet-name>
        <url-pattern>/isExistUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserInitServlet</servlet-name>
        <url-pattern>/addUserInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userAddServlet</servlet-name>
        <url-pattern>/userAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userPanelServlet</servlet-name>
        <url-pattern>/userPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.AAAAAA.pestcontrolproject.listenner.ContextListenner</listener-class>
    </listener>
    <filter>
        <filter-name>encodeFilter</filter-name>
        <filter-class>com.AAAAAA.pestcontrolproject.filter.EncodeFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
