<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.AAAAAA.pestcontrolproject.dao.areaAndClassModule.IClassDao">
    <resultMap id="ClassObj" type="com.AAAAAA.pestcontrolproject.entity.areaAndClassModule.SysClass">


        <result column="sclass_id" property="sclassId"></result>
        <result column="sclass_name" property="sclassName"></result>
        <result column="sclass_leader" property="sclassLeader"></result>
        <result column="sclass_leader_tel" property="sclassLeaderTel"></result>
        <result column="sclass_num" property="sclassNum"></result>
        <result column="sclass_start_date" property="sclassStartDate"></result>
    <association property="area" javaType="com.AAAAAA.pestcontrolproject.entity.areaAndClassModule.SysArea">
        <result column="area_id" property="areaId"></result>
        <result column="area_name" property="areaName"></result>
        <result column="area_tree_type" property="areaTreeType"></result>
        <result column="area_good_tree" property="areaGoodTree"></result>
        <association property="selectedType" javaType="com.AAAAAA.pestcontrolproject.entity.Selected.SysSelectedType">
            <result column="area_adress_id" property="typeId"></result>
            <result column="type_key" property="typeKey"></result>
            <result column="type_val" property="typeVal"></result>
            <result column="type_name" property="typeName"></result>
        </association>
    </association>
    </resultMap>

    <resultMap id="classList" type="com.AAAAAA.pestcontrolproject.entity.areaAndClassModule.SysClass">
        <result column="sclass_id" property="sclassId"></result>
        <result column="sclass_name" property="sclassName"></result>
        <result column="sclass_leader" property="sclassLeader"></result>
        <result column="sclass_leader_tel" property="sclassLeaderTel"></result>
        <result column="sclass_num" property="sclassNum"></result>
        <result column="sclass_start_date" property="sclassStartDate"></result>
        <association property="area" javaType="com.AAAAAA.pestcontrolproject.entity.areaAndClassModule.SysArea">
        <result column="area_id" property="areaId"></result>
        <result column="area_name" property="areaName"></result>
        </association>
    </resultMap>



    <select id="findClassByClassId" resultMap="ClassObj" parameterType="map">
    select
     sys_area.area_id, area_name, area_tree_type, area_good_tree, area_adress_id,
     sclass_id,sclass_name,sclass_leader,sclass_leader_tel,sclass_num,sclass_start_date
    type_key,type_val,type_name
    from sys_area join sys_class on sys_class.area_id=sys_area.area_id
    left join sys_type on sys_type.type_id=sys_area.area_adress_id
    where sys_class.sclass_id=#{sclassId}
    </select>

    <select id="findClassList" resultMap="classList" parameterType="map">
        select
          sclass_id,  sclass_name,sclass_leader,sclass_leader_tel,sclass_num,sclass_start_date,
            sys_area.area_id, area_name
         from sys_class left join sys_area on sys_class.area_id=sys_area.area_id where 1=1
            <if test="null!=sclassName and ''!=sclassName">
                and sclass_name=#{sclassName}
            </if>
        <if test="null!=areaName and ''!=areaName">
            and area_name=#{areaName}
        </if>
        limit  #{startIndex},#{rowNum}
    </select>

    <insert id="addSysClass" parameterType="com.AAAAAA.pestcontrolproject.entity.areaAndClassModule.SysClass">
        insert into sys_class(area_id, sclass_name, sclass_leader, sclass_leader_tel, sclass_num, sclass_start_date)
        values (#{area.areaId},#{sclassName},#{sclassLeader},#{sclassLeaderTel},#{sclassNum},#{sclassStartDate})
    </insert>
    <update id="updateClass" parameterType="map">
        update sys_class
        set sclass_leader=#{sclassLeader},sclass_leader_tel=#{sclassLeaderTel}
        where sclass_id=#{sclassId}
    </update>

    <select id="findClassByAreaId" resultMap="ClassObj" parameterType="map">
    select
     sys_area.area_id, area_name, area_tree_type, area_good_tree, area_adress_id,
    sclass_id,  sclass_name,sclass_leader,sclass_leader_tel,sclass_num,sclass_start_date
    type_key,type_val,type_name
    from sys_area join sys_class on sys_class.area_id=sys_area.area_id
     join sys_type on sys_type.type_id=sys_area.area_adress_id
    where sys_area.area_id=#{areaId}
    </select>

    <select id="countClass" parameterType="map" resultType="int">
        select count(sclass_id) from sys_class where 1=1
        <if test="null!=sclassName and ''!=sclassName">
            and sclass_name=#{sclassName}
        </if>
        <if test="null!=areaName and ''!=areaName">
            and area_name=#{areaName}
        </if>

    </select>
</mapper>