<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.AAAAAA.pestcontrolproject.dao.userModule.IUserDao">

    <resultMap id="userInfo" type="com.AAAAAA.pestcontrolproject.entity.userModule.TUser">
        <result column="user_id" property="userId" ></result>
        <result column="user_name" property="userName" ></result>
        <result column="real_name" property="realName" ></result>
        <result column="user_password" property="userPassword" ></result>
       <association property="role" javaType="com.AAAAAA.pestcontrolproject.entity.userModule.TRole">
           <result column="role_id" property="roleId"></result>
           <result column="role_Name" property="roleName"></result>
           <collection property="powers" ofType="com.AAAAAA.pestcontrolproject.entity.userModule.TPower">
               <result column="power_id" property="powerId"></result>
               <result column="power_name" property="powerName"></result>
               <result column="power_resource" property="powerResource"></result>
               <result column="power_tag" property="powerTag"></result>
           </collection>
       </association>
    </resultMap>

    <resultMap id="allUsers" type="com.AAAAAA.pestcontrolproject.entity.userModule.TUser">
        <result column="user_id" property="userId"></result>
        <result column="user_name" property="userName"></result>
        <result column="real_name" property="realName"></result>
        <result column="user_password" property="userPassword"></result>
        <association property="role" javaType="com.AAAAAA.pestcontrolproject.entity.userModule.TRole">
            <result column="role_name" property="roleName"></result>
        </association>
    </resultMap>
    <resultMap id="user" type="com.AAAAAA.pestcontrolproject.entity.userModule.TUser">
        <result column="user_id" property="userId"></result>
        <result column="user_name" property="userName"></result>
        <result column="real_name" property="realName"></result>
        <result column="user_password" property="userPassword"></result>
        <association property="role" javaType="com.AAAAAA.pestcontrolproject.entity.userModule.TRole">
            <result column="role_id" property="roleId"></result>
        </association>
    </resultMap>

<select id="login" resultMap="userInfo" parameterType="map" statementType="CALLABLE">
    call login(#{userName},#{password});
</select>

    <insert id="addUser"  parameterType="com.AAAAAA.pestcontrolproject.entity.userModule.TUser">
            insert into t_user (role_id, user_name, real_name, user_password)
            values (#{role.roleId},#{userName},#{realName},#{userPassword});
    </insert>
<select id="findUserByName" resultType="com.AAAAAA.pestcontrolproject.entity.userModule.TUser">
    select user_id userId from t_user where  user_name=#{0};
</select>
    <select id="findUsersList" parameterType="map" resultMap="allUsers">
        select user_id ,  user_name , real_name , user_password ,role_name
        from t_user join t_role on t_user.role_id = t_role.role_id
        <where>
            <if test="roleId !=null and roleId !=''">
                t_user.role_id =#{roleId}
            </if>
        </where>
    </select>
    <update id="delUser" parameterType="map">
        delete from t_user where user_id=#{userId}
    </update>
    <select id="findUserById" parameterType="map" resultMap="user">
        select user_id , role_id, user_name, real_name, user_password
         from t_user where user_id=#{userId};
    </select>
    <update id="updateUserInfo" parameterType="map">
        update t_user set user_password=#{newPwd},role_id=#{roleId} where user_id=#{userId}
    </update>

</mapper>