<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.AAAAAA.pestcontrolproject.dao.eventModule.IAddConfDao">

<insert id="addConf" parameterType="int">
    insert into t_conference (event_id)values (#{0})
</insert>

<select id="findConfIdByEventId" parameterType="int" resultType="int">
    select conference_id  from t_conference where event_id=#{0}
</select>



</mapper>