<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.AAAAAA.pestcontrolproject.dao.eventModule.IFindTypeDao">


    <!--按条件查找类型-->
    <select id="findType" parameterType="map" resultType="com.AAAAAA.pestcontrolproject.entity.Selected.SysSelectedType">
        select type_id as typeId,type_name as typeName,type_key as typeKey,type_val as typeVal from sys_type
        <where>
            1=1
             <if test="typeName!=null and typeName!=''">
                and type_name=#{typeName}
             </if>
            <if test="typeKey!=null">
               and type_key=#{typeKey}
            </if>
        </where>


    </select>

<select id="findClaaByAreaId" parameterType="int" resultType="com.AAAAAA.pestcontrolproject.entity.areaAndClassModule.SysClass">

    select sclass_id as sclassId, sclass_name as sclassName from sys_class where area_id=#{0}

</select>

</mapper>